<%- include("../components/UI/HeadIncluder", { titleOfPage: "Conditions", linkJS: "" }) -%>
<body class="font-body space-y-20 bg-[#e6e6e6]">
<%- include("../components/Layout/Header", { user, dropdownOption: "Conditions" }) -%>

<main class="mx-auto w-3/4 px-20 bg-white py-16 rounded-lg space-y-8">
    <h1 class="font-heading font-bold text-5xl">Terms and Conditions of Use</h1>

    <article class="space-y-10">

        <div class="space-y-4">
            <p class="text-lg">
                Welcome to our recipe sharing platform with blog options. By using our platform, you agree to be bound
                by the following terms and conditions:
            </p>

            <ol class="list-inside pl-12 space-y-2">
                <li class="space-y-1">
                    <h2 class="font-heading font-bold text-3xl">Acceptance of Terms</h2>
                    <p class="text-lg">
                        By accessing or using our platform, you agree to these terms and conditions, as well as our
                        Privacy Policy, which is incorporated by reference. If you do not agree to all of the terms and
                        conditions, then you may not useour platform.
                    </p>
                </li>

                <li class="space-y-1">
                    <h2 class="font-heading font-bold text-3xl">Use of Platform</h2>
                    <p class="text-lg">
                        Our platform allows you to share and discover recipes, as well as create and read blog posts
                        related to food and cooking. You may use our platform only for lawful purposes and in
                        accordance with these terms and conditions.
                    </p>
                </li>

                <li class="space-y-1">
                    <h2 class="font-heading font-bold text-3xl">User Accounts</h2>
                    <p class="text-lg">
                        To use certain features of our platform, you may be required to create a user account. You are
                        responsible for maintaining the confidentiality of your account and password, and for
                        restricting access to your computer or mobile device. You agree to accept responsibility
                        for all activities that occur under your account or password.
                    </p>
                </li>

                <li>
                    <h2 class="font-heading font-bold text-3xl">User Content</h2>
                    <p class="text-lg">
                        Our platform allows you to post, link, store, share and otherwise make available certain
                        information, text, graphics, videos, or other material ("Content"). You retain all rights
                        in, and are solely responsible for, the Content you post to our platform.
                    </p>
                </li>
            </ol>
        </div>

        <div class="space-y-4">
            <p class="text-lg">
                By posting Content to our platform, you grant us a non-exclusive, royalty-free, transferable,
                sub-licensable, worldwide license to use, modify, publicly perform, publicly display, reproduce,
                and distribute such Content on and through our platform.
            </p>

            <div class="text-lg">
                You represent and warrant that:
                <ol class="list-decimal list-inside pl-12">
                    <li>
                        the Content is yours (you own it) or you have the right to use it and grant
                        us the rights and license as provided in these terms
                    </li>
                    <li>
                        the posting of your Content on or through our platform does not violate the privacy rights,
                        publicity rights, copyrights, contract rights, or any other rights of any person or entity.
                    </li>
                </ol>
            </div>
        </div>

        <div class="space-y-4">
            <h2 class="font-heading font-bold text-3xl">Prohibited Conduct</h2>
            <p>You agree not to engage in any of the following activities:</p>

            <p class="text-lg">
                Posting or transmitting any Content that is unlawful, threatening, abusive, harassing, defamatory,
                vulgar, obscene, or racially, ethnically, or otherwise objectionable; Impersonating any person or
                entity, including any of our employees or representatives; Posting or transmitting any Content that
                contains viruses or any other harmful code, files, or programs; Interfering with the security of our
                platform or attempting to gain unauthorized access to our system; Modifying, adapting, hacking,
                reverse engineering, or otherwise tampering with our platform or the software used to provide our
                platform;
            </p>
            <p class="text-lg">
                Using any automated means to access our platform or collect any information from our platform;
                Using our platform for any commercial purpose without our prior written consent;
                Encouraging or enabling any other person to engage in any of the prohibited activities.
            </p></div>

        <div class="space-y-4">
            <h2 class="font-heading font-bold text-3xl">Intellectual Property Rights</h2>
            <p class="text-lg">
                Our platform and its entire contents, features, and functionality (including but not limited to all
                information,
                software, text, displays, images, video, and audio) are owned by us, our licensors, or other providers
                of such material and are protected by United States and international copyright, trademark, patent,
                trade secret, and other intellectual property or proprietary rights laws.
            </p>

            <p class="text-lg">
                These terms permit you to use our platform for your personal, non-commercial use only. You must not
                reproduce, distribute, modify, create derivative works of, publicly display, publicly perform,
                republish, download, store, or transmit any of the material on our platform, except as follows:
            </p>
            <ul class="list-disc list-inside pl-12 space-y-2">
                <li>
                    Your computer or mobile device may temporarily store copies of such materials in RAM incidental to
                    your accessing and viewing those materials;
                </li>
                <li>You may store files that are automatically cached by your Web browser for display</li>
            </ul>
        </div>

        <div class="space-y-4">
            <h2 class="font-heading font-bold text-3xl">Termination</h2>
            <p class="text-lg">
                We reserve the right to terminate or suspend access to our platform and blog, without prior notice or
                liability,
                for any reason whatsoever, including without limitation if you breach the Terms. All provisions of the
                Terms
                which by their nature should survive termination shall survive termination, including, without
                limitation,
                ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
            </p>
        </div>

        <div class="space-y-4">
            <h2 class="font-heading font-bold text-3xl">Governing Law</h2>
            <p class="text-lg">
                These Terms shall be governed and construed in accordance with the laws of India, without regard to its
                conflict of law provisions.
            </p>
        </div>

        <div class="space-y-4">
            <h2 class="font-heading font-bold text-3xl">Changes</h2>
            <p class="text-lg">
                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
                revision is
                material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What
                constitutes a material change will be determined at our sole discretion.
            </p>
        </div>

        <div class="space-y-4">
            <h2 class="font-heading font-bold text-3xl">Contact Us</h2>
            <p class="text-lg">
                If you have any questions about these Terms, please contact us at
                <a href="mailto://ujjwalgarg100204@gmail.com"
                   class="text-blue-600 transition duration-200 hover:underline">ujjwalgarg100204@gmail.com</a> .
            </p>
        </div>
    </article>
</main>

<%- include("../components/Layout/Footer") -%>
</body>
</html>