<div class="flex gap-8">
    <%# TODO: Each tag has a cross button on top right corner, on clicking it
        tag should be removed from the tag list
    %>
    <% tags.forEach(tag => { %>
        <div class="rounded-full bg-selected-mehandi text-white font-body relative">
            <p class="capitalize px-3 py-2"><%= tag; %></p>
            <button class="absolute -right-1.5 -top-1.5">
                <%- include("../../Icons/UI/X", { containerClass: "rounded-full bg-gray-900 p-2", svgClass: "w-1.5 fill-white" }) -%>
            </button>
        </div>
    <% }); %>
</div>