<div class="<%= containerClass; %>">
    <svg clip="<%= svgClass %>" width="464.75" height="104.7604009525798"
         viewBox="0 0 369.66666666666663 83.32744103023919"
         class="css-1j8o68f">
        <defs id="SvgjsDefs1203">
            <linearGradient id="SvgjsLinearGradient1208">
                <stop id="SvgjsStop1209" stop-color="#8f5e25" offset="0"></stop>
                <stop id="SvgjsStop1210" stop-color="#fbf4a1" offset="0.5"></stop>
                <stop id="SvgjsStop1211" stop-color="#8f5e25" offset="1"></stop>
            </linearGradient>
            <linearGradient id="SvgjsLinearGradient1212">
                <stop id="SvgjsStop1213" stop-color="#8f5e25" offset="0"></stop>
                <stop id="SvgjsStop1214" stop-color="#fbf4a1" offset="0.5"></stop>
                <stop id="SvgjsStop1215" stop-color="#8f5e25" offset="1"></stop>
            </linearGradient>
        </defs>
        <g id="SvgjsG1204" featurekey="S6ay6y-0"
           transform="matrix(1.0260647535324097,0,0,1.0260647535324097,-7.587174504376086,-7.927839744140126)"
           fill="url(#SvgjsLinearGradient1208)">
            <g xmlns="http://www.w3.org/2000/svg">
                <path d="M88.166,54.559c-2.899-0.921-6.173-0.439-9.367-0.012c-0.006-0.185-0.079-0.369-0.268-0.502   c-0.815-0.573-0.589-2.054-1.731-2.508c-0.125-0.05-3.945-3.004-5.225-2.734c-3.608,0.76-5.671-2.408-9.335-0.44   c-0.659,0.354-0.314-0.378-0.993-0.827c-1.428-0.946-2.339-0.83-3.881-0.189c-2.103,0.875-3.144-5.146-6.625-1.423   c-2.023,2.165-4.133-1.758-7.051-0.224c-1.499,0.788-0.487,1.927-2.718,0.724c-1.345-0.726-2.442-0.712-3.8-0.168   c-1.947,0.782-3.651,2.604-5.892,1.681c-1.093-0.449-2.887-0.128-3.732,0.718c-0.358,0.358-0.721,0.655-1.085,0.915   c-2.586-1.028-5.275-1.691-7.938-2.492c-3.5-1.054-6.85-2.556-10.359-3.598c-0.774-0.23-1.104,0.977-0.332,1.205   c3.073,0.913,6.056,2.066,9.07,3.154c2.698,0.974,5.497,1.586,8.195,2.543c-2.209,1.1-4.316,1.385-5.616,4.299   c-2.228-0.095-4.448-0.136-6.657-0.032c-0.249-0.38-0.842-0.278-1.051,0.101C11.27,55,11.321,55.86,11.928,55.916   c1.131,3.984,3.676,6.429,7.869,6.983c0.606,4.323,3.219,7.369,6.939,9.497c0.102,0.104,0.234,0.174,0.395,0.192   c0.12,0.029,0.236,0.031,0.339-0.008c3.324-0.428,6.803,0.082,10.176-0.302c3.372-0.384,6.63-0.514,10.021-0.354   c7.473,0.35,14.875,0.174,22.349,0.265c0.044,0.001,0.077-0.016,0.116-0.022c0.063,0.006,0.124,0.015,0.194,0   c3.888-0.787,6.392-5.137,6.741-8.954c5.129-0.479,9.291-2.74,11.474-7.736C88.704,55.101,88.583,54.691,88.166,54.559z    M26.445,52.104c2.064-1.21,2.527-3.854,5.787-2.414c0.773,0.341,1.266,0.18,2.045-0.002c0.515-0.119,0.945-0.523,1.359-0.848   c3.348-2.631,4.275-1.626,7.012-0.045c0.368,0.213,0.785,0.005,0.918-0.374c1.323-3.759,4.393-0.955,5.573,0.132   c0.241,0.221,0.649,0.261,0.885,0c2.594-2.883,3.87-0.984,5.718,0.385c1.785,1.321,3.949-3.975,5.324,1.065   c0.121,0.445,0.719,0.619,1.045,0.276c-0.441,0.465,9.868-0.458,10.553,0.347c0.676,0.795,1.287,1.115,2.31,1.522   c2.144,0.852,1.751,1.729,2.476,2.571c-1.162,0.141-2.305,0.246-3.405,0.243c-7.242-0.021-14.405-0.068-21.646,0.247   c-7.225,0.313-14.402-0.461-21.627-0.216c-3.319,0.112-6.654-0.095-9.98-0.255C22.943,49.783,23.953,53.563,26.445,52.104z    M70.049,70.947c-0.013-0.001-0.021-0.008-0.034-0.008c-8.021-0.098-15.963,0.034-23.982-0.342   c-3.407-0.159-6.741,0.244-10.118,0.629c-2.838,0.323-5.689-0.176-8.495,0.122c-3.286-1.867-5.745-4.503-6.345-8.31   c9.039,0.674,18.624,0.359,27.645-0.203c8.98-0.561,17.894,0.715,26.854,0.472c0.077-0.002,0.151-0.009,0.229-0.012   C75.436,66.559,73.334,70.244,70.049,70.947z M86.906,56.115c-1.778,4.07-5.775,5.41-9.864,5.811   c-0.234-0.447-0.983-0.416-1.14,0.089c-1.396,0.082-2.778,0.076-4.064,0.048c-7.112-0.155-14.157-0.79-21.284-0.567   c-7.099,0.223-14.155,0.282-21.26,0.298c-6.391,0.013-13.764,1.206-16.071-5.906c5.257-0.167,10.507,0.705,15.803,0.435   c6.587-0.337,13.096,0.294,19.675,0.247c6.734-0.047,13.422-0.672,20.163-0.435c3.264,0.115,6.58,0.206,9.841,0.013   C79.834,56.079,87.405,54.972,86.906,56.115z"></path>
                <path d="M49.466,24.478c0.713-0.376,0.081-1.455-0.631-1.08c-2.32,1.224-2.315,2.898-1.015,4.992   c1.332,2.146,3.061,3.431,2.09,6.294c-0.814,2.403,0.281,5.578-1.011,7.644c-0.429,0.686,0.653,1.313,1.08,0.631   c0.556-0.89,1.167-1.815,0.979-2.928c-0.44-2.609,0.217-4.521,0.665-7.006C52.052,30.657,46.035,26.286,49.466,24.478z"></path>
                <path d="M38.957,29.288c0.783-0.19,0.451-1.396-0.332-1.205c-2.032,0.495-2.319,3.029-2.265,4.781   c0.033,1.054,0.381,1.937,1.05,2.729c0.355,0.422,1.024,0.668,1.501,0.917c2.368,1.235,0.523,3.798-0.229,5.097   c-0.404,0.699,0.677,1.328,1.08,0.631c1.147-1.983,2.089-3.744,0.849-5.907c-0.398-0.694-1.359-1.047-2.015-1.405   C37.115,34.117,37.117,29.736,38.957,29.288z"></path>
                <path d="M59.395,28.65c0.702-0.396,0.072-1.476-0.631-1.08c-5.851,3.294,3.732,10.493-0.847,14.63   c-0.599,0.542,0.288,1.423,0.885,0.885c1.889-1.708,1.986-3.826,1.321-6.165C59.465,34.602,56.404,30.333,59.395,28.65z"></path>
                <path d="M65.564,44.813c1.667-1.476,2.047,1.936,3.276,2.174c0.761,0.147,1.418-0.036,2.166-0.213   c1.856-0.439,3.515,1.592,4.608,2.787c0.546,0.596,1.428-0.291,0.885-0.885c-0.957-1.045-2.02-2.249-3.372-2.791   c-1.136-0.455-3.896,0.06-4.46-0.839c-1.115-1.781-2.134-2.759-3.988-1.118C64.075,44.463,64.963,45.344,65.564,44.813z"></path>
                <path d="M29.383,45.306c0.169,0.105,0.332,0.219,0.488,0.342c0.322,0.239,0.736,0.483,1.15,0.498   c1.255,0.044,2.273-0.656,3.476-0.886c0.791-0.151,0.455-1.355-0.332-1.205c-0.954,0.183-1.8,0.731-2.765,0.854   c-0.82,0.104-1.38-0.929-2.232-0.929c-1.051,0-2.309,1.051-1.708,2.143c0.389,0.706,1.469,0.076,1.08-0.631   C28.794,45.264,29.075,45.201,29.383,45.306z"></path>
                <path d="M42.101,54.203c0.806,0,0.806-1.25,0-1.25S41.295,54.203,42.101,54.203z"></path>
                <path d="M49.874,51.436c0.645-0.168,0.603-1.235-0.147-1.216c-0.309,0.008-0.511,0.112-0.729,0.326   C48.424,51.108,49.298,51.984,49.874,51.436z"></path>
                <path d="M55.338,53.628c0.806,0,0.806-1.25,0-1.25S54.532,53.628,55.338,53.628z"></path>
                <path d="M63.827,53.483c0.806,0,0.806-1.25,0-1.25S63.021,53.483,63.827,53.483z"></path>
                <path d="M68.432,53.196c0.806,0,0.806-1.25,0-1.25S67.626,53.196,68.432,53.196z"></path>
                <path d="M42.389,52.188c0.048,0,0.096,0,0.144,0c0.806,0,0.806-1.25,0-1.25c-0.048,0-0.096,0-0.144,0   C41.583,50.938,41.583,52.188,42.389,52.188z"></path>
                <path d="M35.194,52.908c0.048,0,0.096,0,0.144,0c0.806,0,0.806-1.25,0-1.25c-0.048,0-0.096,0-0.144,0   C34.389,51.658,34.389,52.908,35.194,52.908z"></path>
                <path d="M30.015,53.771c0.806,0,0.806-1.25,0-1.25S29.209,53.771,30.015,53.771z"></path>
                <path d="M26.323,64.945c0.067-0.804-1.183-0.797-1.25,0c-0.117,1.397,0.989,2.284,2.036,2.985c0.672,0.44<?xml version="
                      1.0
                " encoding="UTF-8" standalone="no" ?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1080" height="1080" viewBox="0 0 1080 1080"
                     xml:space="preserve">
<desc>Created with Fabric.js 5.2.4</desc>
                    <defs>
                    </defs>
                    <g transform="matrix(1 0 0 1 540 540)" id="63592285-c4b4-45ca-9014-c3e65152ffc5">
                        <rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;"
                              vector-effect="non-scaling-stroke" x="-540" y="-540" rx="0" ry="0" width="1080"
                              height="1080" />
                    </g>
                    <g transform="matrix(Infinity NaN NaN Infinity 0 0)" id="fb04b1fd-5e40-42f7-88ff-eae29a529c6b">
                    </g>
                    <g transform="matrix(1 0 0 1 2349.76 -4.59)">
                        <g style="" vector-effect="non-scaling-stroke">
                            <g transform="matrix(1.29 0 0 1.29 -179.99 12.51)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_3" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_3); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-48, -58.03)"
                                      d="M 88.166 54.559 C 85.267 53.638 81.993 54.12 78.79899999999999 54.547 C 78.79299999999999 54.361999999999995 78.72 54.178 78.53099999999999 54.044999999999995 C 77.716 53.471999999999994 77.942 51.99099999999999 76.8 51.53699999999999 C 76.675 51.486999999999995 72.855 48.532999999999994 71.575 48.80299999999999 C 67.967 49.56299999999999 65.904 46.39499999999999 62.24 48.36299999999999 C 61.581 48.71699999999999 61.926 47.98499999999999 61.247 47.535999999999994 C 59.819 46.589999999999996 58.908 46.705999999999996 57.366 47.346999999999994 C 55.263 48.221999999999994 54.222 42.20099999999999 50.741 45.92399999999999 C 48.717999999999996 48.08899999999999 46.608 44.16599999999999 43.69 45.699999999999996 C 42.190999999999995 46.48799999999999 43.202999999999996 47.626999999999995 40.971999999999994 46.42399999999999 C 39.626999999999995 45.69799999999999 38.529999999999994 45.71199999999999 37.172 46.25599999999999 C 35.224999999999994 47.038 33.521 48.85999999999999 31.279999999999998 47.93699999999999 C 30.186999999999998 47.48799999999999 28.392999999999997 47.80899999999999 27.548 48.65499999999999 C 27.189999999999998 49.012999999999984 26.826999999999998 49.30999999999999 26.462999999999997 49.569999999999986 C 23.877 48.54199999999999 21.187999999999995 47.878999999999984 18.525 47.07799999999999 C 15.024999999999999 46.02399999999999 11.674999999999999 44.52199999999999 8.165999999999999 43.47999999999999 C 7.391999999999999 43.24999999999999 7.0619999999999985 44.45699999999999 7.833999999999999 44.68499999999999 C 10.906999999999998 45.597999999999985 13.889999999999999 46.75099999999999 16.904 47.838999999999984 C 19.602 48.81299999999998 22.401 49.42499999999998 25.099 50.381999999999984 C 22.89 51.481999999999985 20.783 51.76699999999998 19.483 54.68099999999998 C 17.255 54.585999999999984 15.035 54.54499999999998 12.826 54.64899999999999 C 12.577 54.268999999999984 11.984 54.37099999999999 11.775 54.749999999999986 C 11.27 55 11.321 55.86 11.928 55.916 C 13.059000000000001 59.9 15.604000000000001 62.345 19.797 62.898999999999994 C 20.403000000000002 67.222 23.016000000000002 70.268 26.736 72.39599999999999 C 26.838 72.49999999999999 26.970000000000002 72.57 27.131 72.58799999999998 C 27.251 72.61699999999998 27.367 72.61899999999999 27.47 72.57999999999998 C 30.793999999999997 72.15199999999999 34.272999999999996 72.66199999999998 37.646 72.27799999999998 C 41.018 71.89399999999998 44.276 71.76399999999998 47.667 71.92399999999998 C 55.14 72.27399999999997 62.542 72.09799999999998 70.016 72.18899999999998 C 70.06 72.18999999999998 70.093 72.17299999999997 70.132 72.16699999999997 C 70.19500000000001 72.17299999999997 70.256 72.18199999999997 70.32600000000001 72.16699999999997 C 74.21400000000001 71.37999999999997 76.718 67.02999999999997 77.06700000000001 63.21299999999997 C 82.19600000000001 62.73399999999997 86.358 60.47299999999997 88.54100000000001 55.476999999999975 C 88.704 55.101 88.583 54.691 88.166 54.559 z M 26.445 52.104 C 28.509 50.894 28.972 48.25 32.232 49.69 C 33.005 50.031 33.498 49.87 34.277 49.687999999999995 C 34.792 49.568999999999996 35.222 49.16499999999999 35.636 48.839999999999996 C 38.984 46.208999999999996 39.911 47.214 42.648 48.794999999999995 C 43.016000000000005 49.007999999999996 43.433 48.8 43.566 48.42099999999999 C 44.889 44.66199999999999 47.959 47.465999999999994 49.139 48.55299999999999 C 49.38 48.77399999999999 49.788000000000004 48.81399999999999 50.024 48.55299999999999 C 52.618 45.66999999999999 53.894 47.56899999999999 55.742000000000004 48.93799999999999 C 57.527 50.258999999999986 59.691 44.96299999999999 61.066 50.002999999999986 C 61.187000000000005 50.447999999999986 61.785000000000004 50.621999999999986 62.111000000000004 50.27899999999999 C 61.67 50.74399999999999 71.979 49.82099999999999 72.664 50.62599999999999 C 73.34 51.42099999999999 73.95100000000001 51.74099999999999 74.974 52.14799999999999 C 77.11800000000001 52.999999999999986 76.72500000000001 53.87699999999999 77.45 54.71899999999999 C 76.288 54.859999999999985 75.145 54.96499999999999 74.045 54.96199999999999 C 66.803 54.94099999999999 59.64 54.89399999999999 52.399 55.20899999999999 C 45.174 55.52199999999999 37.997 54.74799999999999 30.772000000000002 54.99299999999999 C 27.453000000000003 55.10499999999999 24.118000000000002 54.89799999999999 20.792 54.737999999999985 C 22.943 49.783 23.953 53.563 26.445 52.104 z M 70.049 70.947 C 70.036 70.946 70.028 70.93900000000001 70.015 70.93900000000001 C 61.994 70.84100000000001 54.052 70.97300000000001 46.033 70.59700000000001 C 42.626000000000005 70.438 39.292 70.84100000000001 35.915 71.22600000000001 C 33.077 71.549 30.226 71.05000000000001 27.42 71.34800000000001 C 24.134 69.48100000000001 21.675 66.84500000000001 21.075000000000003 63.03800000000001 C 30.114000000000004 63.71200000000001 39.699 63.39700000000001 48.72 62.83500000000001 C 57.7 62.27400000000001 66.614 63.55000000000001 75.574 63.30700000000001 C 75.651 63.30500000000001 75.725 63.29800000000001 75.803 63.29500000000001 C 75.436 66.559 73.334 70.244 70.049 70.947 z M 86.906 56.115 C 85.128 60.185 81.131 61.525000000000006 77.042 61.926 C 76.808 61.479 76.059 61.510000000000005 75.902 62.015 C 74.506 62.097 73.124 62.091 71.838 62.063 C 64.726 61.908 57.681 61.273 50.553999999999995 61.496 C 43.455 61.719 36.398999999999994 61.778 29.293999999999993 61.794000000000004 C 22.90299999999999 61.807 15.529999999999994 63.00000000000001 13.222999999999992 55.888000000000005 C 18.47999999999999 55.721000000000004 23.72999999999999 56.593 29.025999999999993 56.32300000000001 C 35.61299999999999 55.986000000000004 42.12199999999999 56.617000000000004 48.70099999999999 56.57000000000001 C 55.434999999999995 56.52300000000001 62.12299999999999 55.89800000000001 68.86399999999999 56.135000000000005 C 72.12799999999999 56.25000000000001 75.44399999999999 56.34100000000001 78.70499999999998 56.148 C 79.834 56.079 87.405 54.972 86.906 56.115 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -178.33 -19.41)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_4" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_4); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-49.29, -33.29)"
                                      d="M 49.466 24.478 C 50.179 24.102 49.547000000000004 23.023000000000003 48.835 23.398000000000003 C 46.515 24.622000000000003 46.52 26.296000000000003 47.82 28.390000000000004 C 49.152 30.536000000000005 50.881 31.821000000000005 49.91 34.684000000000005 C 49.096 37.087 50.190999999999995 40.26200000000001 48.898999999999994 42.328 C 48.46999999999999 43.014 49.55199999999999 43.641000000000005 49.97899999999999 42.959 C 50.53499999999999 42.069 51.145999999999994 41.144000000000005 50.95799999999999 40.031000000000006 C 50.517999999999994 37.422000000000004 51.17499999999999 35.510000000000005 51.62299999999999 33.025000000000006 C 52.052 30.657 46.035 26.286 49.466 24.478 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -191.89 -16.81)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_5" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_5); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-38.78, -35.3)"
                                      d="M 38.957 29.288 C 39.74 29.098 39.408 27.892 38.625 28.083 C 36.593 28.578 36.306 31.112 36.36 32.864 C 36.393 33.918 36.741 34.800999999999995 37.41 35.592999999999996 C 37.76499999999999 36.01499999999999 38.434 36.260999999999996 38.910999999999994 36.51 C 41.278999999999996 37.745 39.434 40.308 38.681999999999995 41.607 C 38.27799999999999 42.306 39.358999999999995 42.935 39.76199999999999 42.238 C 40.90899999999999 40.255 41.85099999999999 38.494 40.61099999999999 36.331 C 40.21299999999999 35.637 39.25199999999999 35.284000000000006 38.59599999999999 34.926 C 37.115 34.117 37.117 29.736 38.957 29.288 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -166.25 -16.72)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_6" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_6); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-58.65, -35.37)"
                                      d="M 59.395 28.65 C 60.097 28.253999999999998 59.467000000000006 27.174 58.764 27.57 C 52.913000000000004 30.864 62.496 38.063 57.917 42.2 C 57.318000000000005 42.742000000000004 58.205 43.623000000000005 58.802 43.085 C 60.691 41.377 60.788 39.259 60.123 36.92 C 59.465 34.602 56.404 30.333 59.395 28.65 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -150.88 -2.46)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_7" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_7); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-70.57, -46.42)"
                                      d="M 65.564 44.813 C 67.231 43.337 67.61099999999999 46.749 68.83999999999999 46.987 C 69.60099999999998 47.134 70.258 46.951 71.00599999999999 46.774 C 72.86199999999998 46.335 74.52099999999999 48.366 75.61399999999999 49.561 C 76.16 50.157 77.04199999999999 49.27 76.499 48.676 C 75.542 47.631 74.479 46.427 73.127 45.885000000000005 C 71.991 45.43000000000001 69.231 45.94500000000001 68.667 45.04600000000001 C 67.552 43.26500000000001 66.533 42.287000000000006 64.679 43.928000000000004 C 64.075 44.463 64.963 45.344 65.564 44.813 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -201.76 -4.03)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_8" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_8); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-31.13, -45.21)"
                                      d="M 29.383 45.306 C 29.552 45.410999999999994 29.715 45.525 29.871 45.647999999999996 C 30.192999999999998 45.88699999999999 30.607 46.13099999999999 31.020999999999997 46.145999999999994 C 32.275999999999996 46.18999999999999 33.294 45.489999999999995 34.497 45.25999999999999 C 35.288 45.10899999999999 34.952 43.904999999999994 34.165 44.05499999999999 C 33.211 44.23799999999999 32.365 44.785999999999994 31.4 44.90899999999999 C 30.58 45.01299999999999 30.02 43.97999999999999 29.168 43.97999999999999 C 28.117 43.97999999999999 26.858999999999998 45.03099999999999 27.46 46.12299999999999 C 27.849 46.82899999999999 28.929000000000002 46.19899999999999 28.54 45.49199999999999 C 28.794 45.264 29.075 45.201 29.383 45.306 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -187.6 6.77)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_9" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_9); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-42.1, -53.58)"
                                      d="M 42.101 54.203 C 42.907 54.203 42.907 52.953 42.101 52.953 C 41.295 52.953 41.295 54.203 42.101 54.203 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -177.97 3.33)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_10" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_10); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-49.57, -50.91)"
                                      d="M 49.874 51.436 C 50.519000000000005 51.268 50.477000000000004 50.201 49.727000000000004 50.22 C 49.418000000000006 50.228 49.216 50.332 48.998000000000005 50.546 C 48.424 51.108 49.298 51.984 49.874 51.436 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -170.53 6.03)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_11" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_11); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-55.34, -53)"
                                      d="M 55.338 53.628 C 56.144 53.628 56.144 52.378 55.338 52.378 C 54.532000000000004 52.378 54.532 53.628 55.338 53.628 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -159.58 5.84)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_12" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_12); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-63.83, -52.86)"
                                      d="M 63.827 53.483 C 64.633 53.483 64.633 52.233 63.827 52.233 C 63.021 52.233 63.021 53.483 63.827 53.483 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -153.64 5.47)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_13" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_13); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-68.43, -52.57)"
                                      d="M 68.432 53.196 C 69.238 53.196 69.238 51.946 68.432 51.946 C 67.626 51.946 67.626 53.196 68.432 53.196 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -187.14 4.17)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_14" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_14); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-42.46, -51.56)"
                                      d="M 42.389 52.188 C 42.437000000000005 52.188 42.485 52.188 42.533 52.188 C 43.339 52.188 43.339 50.938 42.533 50.938 C 42.485 50.938 42.437000000000005 50.938 42.389 50.938 C 41.583 50.938 41.583 52.188 42.389 52.188 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -196.42 5.1)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_15" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_15); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-35.27, -52.28)"
                                      d="M 35.194 52.908 C 35.242000000000004 52.908 35.29 52.908 35.338 52.908 C 36.144 52.908 36.144 51.658 35.338 51.658 C 35.29 51.658 35.242000000000004 51.658 35.194 51.658 C 34.389 51.658 34.389 52.908 35.194 52.908 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -203.19 6.21)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_16" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_16); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-30.02, -53.15)"
                                      d="M 30.015 53.771 C 30.821 53.771 30.821 52.521 30.015 52.521 C 29.209 52.521 29.209 53.771 30.015 53.771 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -207.67 23.04)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_17" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_17); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-26.54, -66.19)"
                                      d="M 26.323 64.945 C 26.39 64.14099999999999 25.14 64.148 25.073 64.945 C 24.956 66.342 26.062 67.229 27.109 67.92999999999999 C 27.781000000000002 68.37899999999999 28.406000000000002 67.29599999999999 27.740000000000002 66.85 C 27.056 66.393 26.245 65.869 26.323 64.945 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(1.29 0 0 1.29 -153.92 23.98)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1208_18" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1208_18); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-68.22, -66.93)"
                                      d="M 72.162 64.935 C 70.23700000000001 67.276 66.927 68.539 63.99300000000001 67.509 C 63.23000000000001 67.241 62.90500000000001 68.449 63.66100000000001 68.714 C 66.97500000000001 69.877 70.86000000000001 68.477 73.04700000000001 65.819 C 73.555 65.202 72.675 64.313 72.162 64.935 z"
                                      stroke-linecap="round" />
                            </g>
                            <g transform="matrix(5.58 0 0 5.58 64.75 0)">
                                <linearGradient id="SVGID_SvgjsLinearGradient1212_19" gradientUnits="objectBoundingBox"
                                                gradientTransform="matrix(1 0 0 1 0 0)" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                    <stop offset="50%" style="stop-color:rgb(251,244,161);stop-opacity: 1" />
                                    <stop offset="100%" style="stop-color:rgb(143,94,37);stop-opacity: 1" />
                                </linearGradient>
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: url(#SVGID_SvgjsLinearGradient1212_19); fill-rule: nonzero; opacity: 1;"
                                      vector-effect="non-scaling-stroke" transform=" translate(-30.96, -13.71)"
                                      d="M 5.4492 6.074 Q 4.433575 5.527125 3.4570125000000003 5.986109375 Q 2.5781062500000003 6.454859375 2.3242000000000003 8.574 L 2.3242000000000003 9.6482 L 4.863300000000001 9.6482 L 4.863300000000001 10.829799999999999 L 2.3145000000000007 10.829799999999999 L 2.3145000000000007 19.4626 L 0.9278000000000006 19.4626 L 0.9278000000000006 8.339599999999999 Q 0.9570968750000006 7.031006249999999 1.4649093750000006 6.191162499999999 Q 2.2461593750000004 4.570068749999999 3.9649093750000004 4.511474999999999 Q 4.843815625 4.306396874999999 5.878971875 4.931396874999999 Q 5.71295625 5.341553124999999 5.449284375 6.073974999999999 z M 13.1152375 8.203 Q 15.585940625 8.203 17.2168 9.990109375 Q 18.691409375 11.630734375 18.691409375 13.8670625 Q 18.691409375 16.103390625 17.128909375 17.7781625 Q 15.566409375 19.452934375 13.115209375 19.4529625 Q 10.654271875 19.4529625 9.096654687 17.778157812000003 Q 7.539037498999999 16.103353124000005 7.539054686999999 13.867057812000004 Q 7.539054686999999 11.640495312000004 9.013664062 9.999870312000004 Q 10.644523437 8.202995312000004 13.115226562 8.202995312000004 z M 13.1152375 9.551 Q 11.406253125 9.551 10.175784375 10.82053125 Q 8.945315625 12.0900625 8.945284375 13.88693125 Q 8.945284375 15.049040625 9.5068078125 16.059782812999998 Q 10.06833125 17.070525000999996 11.0254078125 17.612482813 Q 11.982484374999999 18.154440625000003 13.1152078125 18.154472812999998 Q 14.2675515625 18.154472812999998 15.2197000005 17.612480625499998 Q 16.1718484385 17.070488437999998 16.7285000005 16.059780625499997 Q 17.285151562499998 15.049072812999995 17.2851400005 13.886880625499996 Q 17.2851400005 12.090005625499996 16.0546712505 10.820474375499996 Q 14.8242025005 9.550943125499996 13.115171250500001 9.550974375499996 z M 20.703165625 14.541 L 20.703165625 13.251900000000001 Q 20.859415625 12.285103125000001 21.152384375 11.679634375000001 Q 21.835978125 9.999946875000001 22.988321875 9.218696875000001 Q 24.140665625 8.437446875000001 24.902421875 8.437446875000001 Q 25.468828125 8.437446875000001 26.113359375 8.808540625000001 L 25.400469375 9.960840625000001 Q 24.49226625 9.628809375000001 23.598711562 10.497950000000001 Q 22.705156873999996 11.367090625000001 22.363311562 12.392450000000002 Q 22.109405312 13.300653125000002 22.109405312 15.800653125000002 L 22.109405312 19.423653125 L 20.703105311999998 19.423653125 L 20.703105311999998 14.540853125000002 z M 27.265653125 4.59 L 28.652353125 4.59 L 28.652353125 13.047 L 33.603553125000005 8.7306 L 35.63485312500001 8.7306 L 31.152453125000008 12.802900000000001 L 35.976653125000006 19.4435 L 34.02355312500001 19.4435 L 29.804753125000005 13.681799999999999 L 28.652453125000005 14.629069999999999 L 28.652453125000005 19.443569999999998 L 27.265753125000003 19.443569999999998 L 27.265753125000003 4.589569999999998 z M 37.177775 4.59 L 38.564474999999995 4.59 L 38.564474999999995 19.444 L 37.177775 19.444 L 37.177775 4.59 z M 41.8945125 4.3260000000000005 Q 42.3632625 4.3260000000000005 42.7001765625 4.6580312500000005 Q 43.037090625 4.9900625000000005 43.0370865625 5.45881125 Q 43.037082500000004 5.92756 42.7001765625 6.26447125 Q 42.36327062499999 6.6013825 41.894516562499994 6.601381249999999 Q 41.4257625 6.601379999999999 41.09373656249999 6.26447125 Q 40.761710624999985 5.9275625000000005 40.76170656249999 5.45881125 Q 40.76170249999999 4.99006 41.09373656249999 4.6580312500000005 Q 41.42577062499999 4.326002500000001 41.894516562499994 4.326001250000001 z M 41.2109125 8.73 L 42.5879125 8.73 L 42.5879125 19.442999999999998 L 41.2109125 19.442999999999998 L 41.2109125 8.729999999999999 z M 49.35545 6.074 Q 48.339825 5.527125 47.3632625 5.986109375 Q 46.48435625 6.454859375 46.23045 8.574 L 46.23045 9.6482 L 48.769549999999995 9.6482 L 48.769549999999995 10.829799999999999 L 46.220749999999995 10.829799999999999 L 46.220749999999995 19.4626 L 44.83405 19.4626 L 44.83405 8.339599999999999 Q 44.863346875 7.031006249999999 45.371159375 6.191162499999999 Q 46.152409375 4.570068749999999 47.871159375 4.511474999999999 Q 48.750065625 4.306396874999999 49.785221875 4.931396874999999 Q 49.61920625 5.341553124999999 49.355534375 6.073974999999999 z M 50.8105475 8.477 L 52.2656475 8.477 L 55.9472475 16.729 L 59.5214475 8.476999999999999 L 60.9960475 8.476999999999999 L 54.5995475 23.095999999999997 L 53.1444475 23.095999999999997 L 55.204947499999996 18.379199999999997 z"
                                      stroke-linecap="round" />
                            </g>
                        </g>
                    </g>
</svg>
                9,1.297-0.634,0.631-1.08 C27.056,66.393,26.245,65.869,26.323,64.945z">
                </path>
                <path d="M72.162,64.935c-1.925,2.341-5.235,3.604-8.169,2.574c-0.763-0.268-1.088,0.94-0.332,1.205   c3.314,1.163,7.199-0.237,9.386-2.895C73.555,65.202,72.675,64.313,72.162,64.935z"></path>
            </g>
        </g>
        <g id="SvgjsG1205" featurekey="j5pGhi-0"
           transform="matrix(4.439394950866699,0,0,4.439394950866699,98.8811282518882,-19.20482253096465)"
           fill="url(#SvgjsLinearGradient1212)">
            <path d="M5.4492 6.074 q-1.015625 -0.546875 -1.9921875 -0.087890625 q-0.87890625 0.46875 -1.1328125 2.587890625 l0 1.0742 l2.5391 0 l0 1.1816 l-2.5488 0 l0 8.6328 l-1.3867 0 l0 -11.123 q0.029296875 -1.30859375 0.537109375 -2.1484375 q0.78125 -1.62109375 2.5 -1.6796875 q0.87890625 -0.205078125 1.9140625 0.419921875 q-0.166015625 0.41015625 -0.4296875 1.142578125 z M13.1152375 8.203 q2.470703125 0 4.1015625 1.787109375 q1.474609375 1.640625 1.474609375 3.876953125 t-1.5625 3.9111 t-4.0137 1.6748 q-2.4609375 0 -4.018554688 -1.674804688 t-1.5576 -3.9111 q0 -2.2265625 1.474609375 -3.8671875 q1.630859375 -1.796875 4.1015625 -1.796875 z M13.1152375 9.551 q-1.708984375 0 -2.939453125 1.26953125 t-1.2305 3.0664 q0 1.162109375 0.5615234375 2.172851563 t1.5186 1.5527 t2.0898 0.54199 q1.15234375 0 2.104492188 -0.5419921875 t1.5088 -1.5527 t0.55664 -2.1729 q0 -1.796875 -1.23046875 -3.06640625 t-2.9395 -1.2695 z M20.703165625 14.541 l0 -1.2891 q0.15625 -0.966796875 0.44921875 -1.572265625 q0.68359375 -1.6796875 1.8359375 -2.4609375 t1.9141 -0.78125 q0.56640625 0 1.2109375 0.37109375 l-0.71289 1.1523 q-0.908203125 -0.33203125 -1.801757813 0.537109375 t-1.2354 1.8945 q-0.25390625 0.908203125 -0.25390625 3.408203125 l0 3.623 l-1.4063 0 l0 -4.8828 z M27.265653125 4.59 l1.3867 0 l0 8.457 l4.9512 -4.3164 l2.0313 0 l-4.4824 4.0723 l4.8242 6.6406 l-1.9531 0 l-4.2188 -5.7617 l-1.1523 0.94727 l0 4.8145 l-1.3867 0 l0 -14.854 z M37.177775 4.59 l1.3867 0 l0 14.854 l-1.3867 0 l0 -14.854 z M41.8945125 4.3260000000000005 q0.46875 0 0.8056640625 0.33203125 t0.33691 0.80078 t-0.33691 0.80566 t-0.80566 0.33691 t-0.80078 -0.33691 t-0.33203 -0.80566 t0.33203 -0.80078 t0.80078 -0.33203 z M41.2109125 8.73 l1.377 0 l0 10.713 l-1.377 0 l0 -10.713 z M49.35545 6.074 q-1.015625 -0.546875 -1.9921875 -0.087890625 q-0.87890625 0.46875 -1.1328125 2.587890625 l0 1.0742 l2.5391 0 l0 1.1816 l-2.5488 0 l0 8.6328 l-1.3867 0 l0 -11.123 q0.029296875 -1.30859375 0.537109375 -2.1484375 q0.78125 -1.62109375 2.5 -1.6796875 q0.87890625 -0.205078125 1.9140625 0.419921875 q-0.166015625 0.41015625 -0.4296875 1.142578125 z M50.8105475 8.477 l1.4551 0 l3.6816 8.252 l3.5742 -8.252 l1.4746 0 l-6.3965 14.619 l-1.4551 0 l2.0605 -4.7168 z"></path>
        </g>
    </svg>
</div>